body
{
	margin:0;
	padding:0;
	background:url(../web_side_image/cam-morin-knKm7u_7Ihw-unsplash.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	overflow: visible;
	color:white;
}

.row02
{
	display:flex;
	margin-top:10%;
	padding:25px;
}
.column01
{
	
	text-align:center;
	padding:20px;
	background:gray;
	box-sizing:border-box;
	border-radius:10px;
	height:90px;
}
.cell01:hover
{
	background:rgb(0, 166, 255);
	box-shadow:0 15px 25px rgba(0,0,0,.5);
	height:90px;
}


a
{
	text-decoration:none;
	font-size:25px;
	font-weight:bold;
	font-family:Calibri;
	color:white;
}

.column02
{
	margin-top:10px;
	margin-left:10px;
	background:rgba(0,0,0);
	box-sizing:border-box;
	border-radius:10px;
	box-shadow:0px 0px 30px rgba(0,0,0,.8);
	weight:100px;
	padding:15;
}
.column02:hover
{
	color:rgb(0, 166, 255);
	box-shadow:0px 0px 30px rgba(0, 166, 255,0.7);
}
.a01:hover
{
	color:rgb(0, 166, 255);
}
